<div class="menu">
  <ul>
      <li><a [routerLink]="['/']">Homepage</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/login']">Login</a></li>
 <!-- <li><a [routerLink]="https://google.com">Google</a></li> -->
      <!-- This is an A11y Change, giving type attribute
          to a input is accessibility enhancement here-->
      <li><input type="text" class="search-bar" placeholder="Search.."></li>
  </ul>
   <!-- This is an A11y Change -->
  <!-- <img class= "image" src="/profile pic logo.webp" alt="profile"/> -->
</div>
